In [ ]:
pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 KB 6.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp39-cp39-linux_x86_64.whl size=3193645 sha256=aa621dce01c9f1cc638363df2473d3bf4e244473441971cc3e9395ecaba96c71
  Stored in directory: /root/.cache/pip/wheels/c6/3a/46/9b17b3512bdf283c6cb84f59929cdd5199d4e754d596d22784
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split

In [ ]:
model = pd.read_csv('model.csv')

model.head()

   userId  rating      id                                           title
0       1     1.0   as680                           the english civil war
1       1     4.5  ns2186                  latte and the magic waterstone
2       1     5.0  hs2381                               la diosa coronada
3       1     5.0  ns3663  frankenstein’s monster’s monster, frankenstein
4       1     5.0  as9500                                      kept woman

In [ ]:
# se limite el dataset ya que contiene más de 1mill de datos
limit_row = 1000000 

reader = Reader(rating_scale=(1, 5))

In [ ]:
df = Dataset.load_from_df(model[['userId', 'title','rating']][:limit_row], reader)

In [ ]:
trainset, testset = train_test_split(df, test_size=.20)

In [ ]:
# se entrena el modelo SVD, que permite reducir la dimensionalidad de los datos

modelo = SVD()

modelo.fit(trainset)

In [ ]:
# se predice
predictions = modelo.test(testset)

In [ ]:
def recommendation(userId, title):
    # se predice la calificación que el usuario le daría a la película/serie
    prediction = modelo.predict(userId, str(title))
    # si la predicción es mayor o igual a 3.5, se recomienda la película/serie
    if prediction.est >= 3.5:
        return "Recommended"
    else:
        return "Not recommended"

In [ ]:
recommendation(3, 'the english civil war')

'Not recommended'

In [ ]:
from surprise import accuracy

In [ ]:
accuracy.rmse(predictions)

RMSE: 0.9772

0.9771536903280552